/* General */ 
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    color: #344861;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding-left: 0;
    padding-right: 0;
}

i {
    float: right;
    color: #34495e !important;
}

/* Header component */
h3 {
    text-align: center;
}

/* Board component */
.board {
    width: 600px;
    height: 600px;
    float: left;
}

/* Square component */
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #34495e;
    width: calc(100% / 9);
    height: calc(100% / 9);
    float: left;
    font-size: 2rem;
}

/* NumberPad component */
.numberPad {
    border: 1px solid #34495e;
    margin-left: calc(600px / 9);
    width: calc(600px / 9);
    height: 600px;
}

/* NumberBtn component */
.numberBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #34495e;
    width: calc(600px / 9);
    height: calc(600px / 9);
    font-size: 2rem;
}

.numberBtn:hover {
    background-color: #e2ebf3;
}

/* RWD */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        width: 50%;
    }
} 

