/* General */ 
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    color: #344861;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
}

.bi {
    color: #34495e !important;
    font-size: 1.5rem;
}

.bi:hover {
    opacity: 0.7;
    cursor: pointer;
}

.bi-check-square-fill {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 50vh;
    color: #17d417 !important;
    opacity: 0.5;
}

.control-text {
    font-size: small;
}

/* Header component */
h3 {
    text-align: center;
}

/* Grid component */
.grid {
    width: 50vh;
    height: 50vh;
}

/* Square component */
.square {
    border: 1px solid #34495e;
    width: calc(100% / 9);
    height: calc(100% / 9);
    float: left;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* ControlPanel Component */
.control-panel {
    height: 50vh;
}

.heading {
    height: calc(50vh / 5);
} 

.controls, .number-pad {
    height: calc((50vh / 5) * 2);
} 

/* NumberBtn component */
.numberBtn {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #34495e;
    cursor: pointer;
}

.numberBtn:hover {
    background-color: #e2ebf3;
}

/* RWD */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Grid component */
    .grid {
        width: 90vw;
        height: 90vw;
    }

    .bi-check-square-fill {
        font-size: 90vw;
    }

    .heading {
        margin-top: 1rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        width: 50%;
    }
}

